<h1>Character Creation</h1>
<%= render 'edit_form' %>
<!-- This site details the fields_for method -->
<!-- https://guides.rubyonrails.org/form_helpers.html#understanding-parameter-naming-conventions -->
