<h1>Listing Characters</h1>

<% @characters.each do |c| %>
  <strong>Name: </strong><%= c.name %><br>
  <strong>Race: </strong><%= c.race %><br>
  <strong>Class: </strong><%= c.characterClass %><br>
  <strong>Backstory: </strong><%= c.backstory %><br>
  
<% end %>
