<p>
    <strong>Name:</strong>
    <%= @character.name %>
</p>

<p>
    <strong>Race:</strong>
    <%= @character.race %>
</p>

<p>
    <strong>Class:</strong>
    <%= @character.characterClass %>
</p>

<p>
    <strong>Backstory:</strong>
    <%= @character.backstory %>
</p>