<h1>Choose your race</h1>

<%= render layout: 'form' do |f| %>
  <div>
    <% Character.races.each_key do |race| %>
        <%= f.radio_button :race, race %>
        <%= f.label race.to_sym %>
    <% end %>
  </div>
  
<% end %>